@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Kreon:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


:root {
  --font-1: 'Heebo', sans-serif;
  --font-2: 'Kreon', sans-serif;
  --font-3: "Poppins", sans-serif;
  --color-1: rgb(68, 12, 94);
  --color-2: #6c63ff;
  --color-3: rgb(227, 230, 241);
  --color-4: #878787;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-3);
}

body {
  background: var(--color-3);
  width: 100%;
  height: 100vh;
  font-family: var(--font-3);
}

div.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.text {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 55%;
  height: 100%;
  overflow: hidden;
  background: var(--color-2);
  /* border-radius: 45%; */
  border-radius: 0px 0px 90% 10px;text-align: center;
}

div.text h1, div.text p {
  color: #FFF;
}

div.text h1 {
  margin-top: 5%;
  font-size: 2rem;
}

div.text p {
  text-align: center;
  margin: 5%;
  font-size: 13px;
}

div.container div.text div.btn {
  border: 1px solid var(--color-3);
  border-radius: 40px;
  width: 20%;
  height: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

div.container div.text div.btn p {
  font-size: 16px;
}

div.container img.first-imagem-container {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 55%;
  height: 45%;
  z-index: 2;
}

div.container div.forms-container {
  width: 45%;
  height: 100%;
  /* border: 1px solid rgb(3, 255, 24); */
  position: relative;
  left: 55%;
  display: flex;
  justify-content: center;
  align-items: center;

}

div.container div.forms-container div.signin-signup {
  width: 50%;
  height: 80%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

div.container div.forms-container div.signin-signup form.signin-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid rgb(126, 39, 114); */
  width: 80%;
  height: 70%;

}

div.container div.forms-container div.signin-signup form.signin-form  h2 {
  color: var(--color-2);
  font-size: 2.2rem;
  position: absolute;
  top: 15%;
}

div.container div.forms-container div.signin-signup form.signin-form  div {
  width: 120%;
  height: 10%;
  border-radius: 40px;
  /* margin: 5px; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #bdbcbc;
  /* flex-direction: row; */
  /* position: relative; */
}

div.container div.forms-container div.signin-signup form.signin-form  div img {
  position: relative;
  left: 10px;
  width: 20px;
  height: 80px;
}

div.container div.forms-container div.signin-signup form.signin-form  div input {
  color: #6c63ff;
  width: 70%;
  height: 100%;
  outline: none;
  border: none;
  background: none;

}


div.container div.forms-container div.signin-signup form.signin-form  button {
  width: 60%;
  height: 10%;
  border-radius: 40px;
  /* font-size: 1rem; */
  font-weight: 700;
  color: var(--color-3);
  border: none;
  outline: none;
  background: var(--color-2);
  margin-top: 10px;
  cursor: pointer;
}

div.container div.forms-container div.signin-signup form.signin-form  p {
  margin-top: 5%;
  font-size: 0.8rem;
}

div.container div.forms-container div.signin-signup form.signin-form  div.social-networks {
  width: 120%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: none;
}

div.container div.forms-container div.signin-signup form.signin-form  div.social-networks div.imagem-social {
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-4);
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}


div.container div.forms-container div.signin-signup form.signin-form  div.social-networks div.imagem-social img {
  position: static;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}